<!DOCTYPE html>
<html>
<head>
    <title>{{ site.title }} | {{ page.title }}</title>
    <link href='https://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ site.baseurl }}/styles.css" />
</head>
<body>
    <div class="container">
        <header>
            <h1>Awesome Pizza</h1>
            <nav>
                <ul class="nav">
                    <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
                    <li><a href="{{ site.baseurl }}/menu.html">Menu</a></li>
                    <li><a href="{{ site.baseurl }}/location.html">Location</a></li>
                    <li><a href="{{ site.baseurl }}/about.html">About</a></li>
                    <li><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
                    <li><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
                </ul>
            </nav>
        </header>